body {
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
}

h1 {
    color: blue;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
}

.book {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
